<div class="row-footer">
  <ul class="row-list">
    <h3 class="row-list__tittle">Courses</h3>
    <li>
      <a href="" class="row-list__link">Classroom Courses</a>
    </li>
    <li>
      <a href="" class="row-list__link">Virtual Classroom Courses</a>
    </li>
    <li>
      <a href="" class="row-list__link">E-Learning Courses</a>
    </li>
  </ul>
  <ul class="row-list">
    <h3 class="row-list__tittle">Circuit</h3>
    <li>
      <a href="" class="row-list__link">About us</a>
    </li>
    <li>
      <a href="" class="row-list__link">Why Circuit</a>
    </li>
    <li>
      <a href="" class="row-list__link">Testimonials</a>
    </li>
    <li>
      <a href="" class="row-list__link">Promotions</a>
    </li>
    <li>
      <a href="" class="row-list__link">Blog</a>
    </li>
    <li>
      <a href="" class="row-list__link">Podcasts</a>
    </li>
    <li>
      <a href="" class="row-list__link">Forum</a>
    </li>
  </ul>
  <ul class="row-list">
    <h3 class="row-list__tittle">Help</h3>
    <li>
      <a href="" class="row-list__link">Contact us</a>
    </li>
    <li>
      <a href="" class="row-list__link">Our Venues</a>
    </li>
    <li>
      <a href="" class="row-list__link">My account</a>
    </li>
  </ul>
  <ul class="row-list">
    <h3 class="row-list__tittle">Newsletter</h3>
    <form action="" class="footer-form">
      <input
        type="text"
        name=""
        id=""
        placeholder="email address"
        class="footer-form__input"
      />
      <button class="footer-form__btn">Subscribe</button>
    </form>
    <div class="footer-hotline">
      <div class="footer-email">
        <p class="footer-email__desc">Email us</p>
        <span class="footer-email__descs">email@gmail.com</span>
      </div>
      <div class="footer-call">
        <p class="footer-call__desc">Call us</p>
        <span class="footer-call__number">000 1234 5678</span>
      </div>
    </div>
    <div class="footer-social">
      <button class="footer-social__icons">
        <img src="./assets/icon/fb.svg" alt="" class="footer-social__icon" />
      </button>
      <button class="footer-social__icons">
        <img
          src="./assets/icon/twitter.svg"
          alt=""
          class="footer-social__icon"
        />
      </button>
      <button class="footer-social__icons">
        <img src="./assets/icon/fb.svg" alt="" class="footer-social__icon" />
      </button>
    </div>
  </ul>
</div>
