<section class="top-bar">
  <!-- Logo -->
  <a href="./" class="logo">
    <img src="../assets/icon/logo.svg" alt="" class="logo__img" />
    <h1 class="logo__tittle">circuit</h1>
  </a>

  <!-- Navbar -->
  <div class="navbar">
    <ul class="navbar__list">
      <li>
        <a href="./index.html" class="navbar__link navbar__link--lv1">Home</a>
      </li>
      <li>
        <a href="./about.html" class="navbar__link">About us</a>
      </li>
      <li>
        <a href="./resourses.html" class="navbar__link">Resources</a>
      </li>
      <li>
        <a href="./contact.html" class="navbar__link">Contact</a>
      </li>
    </ul>
  </div>

  <!-- Action -->
  <div class="action">
    <a href="./sign-in.html" class="action__text">Log In</a>
    <a href="./sign-up.html" class="btn action__primary">Sign Up</a>
  </div>
</section>
