.form {
  &__auth {
    width: 470px;
    height: 748px;
    border-radius: 12px;
    background: #fff;
  }
  &__group {
    padding-top: 38px;
    margin-left: 28px;
  }
  &__text-input {
    display: flex;
    flex-direction: column;
  }
  &__input {
    background: none;
    outline: none;
    border: none;
    margin-top: 17px;
    width: 414px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #d4dddd;
    color: #4f5a5a;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-left: 17px;
  }
  &__label {
    color: #032e32;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
    gap: 23px;
    &-separate {
      width: 172px;
      height: 1px;
      flex-shrink: 0;
      background: #d4dddd;
    }
  }
  &__goggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    border-radius: 6px;
    border: 1px solid #d4dddd;
    width: 255px;
    height: 50px;
    flex-shrink: 0;
    margin: 0 auto;
    &-btn {
      color: #4f5a5a;
      font-family: "Plus Jakarta Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
  &__rows {
    margin-top: 18px;
    text-align: center;
    &-desc {
      color: #4f5a5a;
      text-align: center;
      font-family: "Plus Jakarta Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      padding-bottom: 38px;
      &--lv1 {
        color: #032e32;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }
}
